@import 'tailwindcss';
@import './fonts.css';

@theme {
    --font-family-ubuntu: 'Ubuntu Sans', sans-serif;
    --font-family-titillium: 'Titillium Web', sans-serif;

    --font-size-xs: 0.875rem;
    --font-size-xs--line-height: 1.25rem;
    --font-size-sm: 1rem;
    --font-size-sm--line-height: 1.5rem;
    --font-size-base: 1.5rem;
    --font-size-base--line-height: 2rem;
    --font-size-xl: 4rem;
    --font-size-xl--line-height: 1;
}

@media (width >= 50rem) {
    :root {
        --font-size-xs: 1rem;
        --font-size-xs--line-height: 1.5rem;
        --font-size-sm: 1.25rem;
        --font-size-sm--line-height: 1.75rem;
        --font-size-base: 1.875rem;
        --font-size-base--line-height: 2.25rem;
        --font-size-xl: 6rem;
        --font-size-xl--line-height: 1;
    }
}
